<!-- <h1 class="container-sm">this is app</h1>
<button type="button" class="btn btn-primary">button</button> -->

<!-- <app-cards>    </app-cards> -->

<!-- <app-playground></app-playground> -->

<!-- <app-directives></app-directives> -->

<!-- <button class="btn btn-primary" []>Delete</button> -->

Enter card name:
<input type="text" (keyup.enter)="addCard(addInp.value)" #addInp />

<app-child [cards]="cards" (deleteEvent)="removeCard($event)"></app-child>

<hr />
<p>Removed {{ deletedCards }}</p>
