<mat-card class="card">
   
    <mat-card-content>
      <section>
        <h1>Add an image</h1>
        <mat-form-field appearance="fill">
          
          <mat-label>Image</mat-label>
          <input type="text" matInput #cardsTitle [value]="image_name" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onAddCard(cardsTitle.value)">Add </button>
      </section>


      <hr>
    </mat-card-content>

     <img mat-card-image [src]="imageUrl" alt="book">

  </mat-card>